*.dat
*.plt
*long_decay*
*_meanediff*
*_varediff*
*_varoverlap*
*_meanoverlap*
*state_0_decay
*.aux
*.tex
*.gif
*~
*_maxoverlaps
*_paired_decay
*.png
*.log
*_energies
*_pairedeigdiffs
*overlaps_states
*_meanspacings
*_overlaps_bulk
*_eigdiff
*.yaml
*ground12
analytic_theta_1
analytic_theta_2
analytic_theta_3
analytic_theta_4
Ising_f_10
Ising_f_10_eigdiff
Ising_f_12
Ising_f_12_eigdiff
Ising_f_4
Ising_f_4_eigdiff
Ising_f_4analytic
Ising_f_6
Ising_f_6_eigdiff
Ising_f_8
Ising_f_8_eigdiff